body{ 
width:1024px;
min-width:1024px; 
min-height:1280px;
margin:auto; 
position: relative; 
font-family:"Georgia", serif; 
font-size:16px;
font-weight:normal;
background-color:#F2F2F2;
} 
h1{
/* font-family:"Verdana", "Geneva", sans-serif; */
font-size:28px;
margin:0;
}
h2{
/* font-family:"Verdana", "Geneva", sans-serif; */
font-size:26px;
margin:0;
}
h3{
/* font-family:"Verdana", "Geneva", sans-serif; */
font-size:24px;
margin:0;
}
h4{
/* font-family:"Verdana", "Geneva", sans-serif; */
font-size:22px;
margin:0;
}
a{color:#FF9100;}
a:hover{color:#FFE231;}
hr{color:#F2F2F2;width:95%;}
ul{
list-style:none;
margin:0;
padding:0;
}
.header{
overflow:hidden;
clear:both;
display:block;
height:12%;
padding-bottom:20px;
background-color:#FFF;
}
.main{
overflow:auto;
display:block;
background-color:#FFF;
}
.aside{
overflow:auto;
display:block;
width:18%;
float:left;
}
.aside #loginForm{
/* background-color:#009500; */
font-size:14px;
}
.content{
overflow:auto;
display:block;
padding-left:15px;
width:80%;
float:left;
}
.footer{
font-size:14px;
overflow:hidden;
clear:both;
display:block;
height:5%;
background-color:#FFF;
}
.footer footer{
display:block;
padding-left:30px;
padding-right:30px;
}
.footer #copyright{
display:inline;
position:relative;
float:left;
width:10%;
}
.footer #reference{
display:inline;
position:relative;
float:right;
width:20%;
}
.footer li{
float:left;
width:30%;
}

